.profile {
    max-width:50% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.sq-img {
    max-width: 50%;
}

a:link, a:visited, a:active { 
    text-decoration: none !important;
    font-weight: bold; 
}

a:hover { 
    text-decoration: none;
}
