.profile {
    max-width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sq-img {
    max-width: 35%;
}
a:link, a:visited, a:active { 
    text-decoration: none !important;
    font-weight: bold; 
}

a:hover { 
    text-decoration: none;
}
