.navbar-brand { font-family: 'klavika_mediummedium', sans-serif !important;
}

.red {
    color: red
}

@font-face {
    font-family: 'klavika_mediummedium';
    src: url('klavikamedium-tf-webfont.woff2') format('woff2'),
         url('klavikamedium-tf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.profile {
    max-width:50% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.sq-img {
    max-width: 50%;
}

.carousel-img {
    max-width: 400px;
    max-height: 400px;
}

a:link, a:visited, a:active { 
    text-decoration: none !important;
    font-weight: bold; 
}

a:hover { 
    text-decoration: none;
}


.card-header {
    background-color: white !important;
}

html,
body {
    height: 100%;
    position: relative;
}
.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
  }
.splash-blurb {

text-align: justify !important;}

@media screen and (min-width: 601px) {
    .splash-blurb {
        font-size:1.25em;
    }
  }
  
  @media screen and (max-width: 600px) {
    .splash-blurb {
        font-size:0.75em;
    }
  }